{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h3 class="page-title">{{ view_bag.instance|capitalize }} Stats</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Stats</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ view_bag.instance|capitalize }} Stats</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Connections Last 30 Days on {{ view_bag.instance|capitalize }}</h4>
        <canvas id="areaChart" style="height:250px"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top 10 Players Last 30 Days on {{ view_bag.instance|capitalize }}</h4>
        <canvas id="barChart" style="height:230px"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}