import math
from mbiiez.db import db

class controller:

    controller_bag = {}

    def __init__(self, instance = None, page = 1, per_page = 100, search = None):
    
            conn = db().connect()
            cur = conn.cursor()  
            
            query_conditions = []
            if instance and instance.lower() != "all":
                query_conditions.append('instance = "' + instance + '"')
            
            if search:
                query_conditions.append('(message LIKE "%' + search + '%" OR instance LIKE "%' + search + '%")')
            
            query_condition = "WHERE " + " AND ".join(query_conditions) if query_conditions else ""
            
            q = f''' SELECT COUNT(*) as total FROM logs {query_condition}; '''
            
            cur.execute(q)
            totals = cur.fetchone()
            
            # Total number of log lines
            self.controller_bag['total'] = int(totals['total'])
            self.controller_bag['pages'] = math.ceil(int(totals['total']) / int(per_page)) 
            
            offset = (int(per_page) * int(int(page)-1))
            
            q = f''' SELECT * FROM logs {query_condition} ORDER BY added DESC LIMIT {str(per_page)} OFFSET {str(offset)};'''
            
            cur.execute(q)
            self.controller_bag['rows'] = cur.fetchall()
            self.controller_bag['instance'] = instance
            self.controller_bag['page'] = page
            self.controller_bag['search'] = search
            
            
            if(instance == None or instance.lower() == "all"):
                self.controller_bag['instance'] = "All"